	@font-face {
    font-family: 'arcadeclassicregular';
    src: url('arcadeclassic-webfont.woff2') format('woff2'),
         url('arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

	}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
#inicioBox{
	position: absolute;
	z-index: 3;
	width: 70%;
	height: 40%;
	left: 30%;
	margin-left: -13%;
	background-image: linear-gradient(yellow, blue);
	text-align: center;
	top: 40%;
	padding-top: 4%;
}
#GameOverBox{
	position: absolute;
	z-index: 3;
	width: 70%;
	height: 30%;
	left: 30%;
	margin-left: -13%;
	background-image: linear-gradient(yellow, blue);
	text-align: center;
	top: 40%;
	padding-top: 4%;

}
#btnGameOver:hover{
	cursor: pointer;
	transform: scale(1.3);
}
#btnGameOver{
	font-size: 150%;
	font-family: inherit;
	padding: 0.25em 0.5em;
	background-color: black;
	border: 2px solid yellow;
	border-radius: 10px;
	color: white;
}
#caixaNome{
	font-size: 200%;
	font-size: max(30px, 1em);
	font-family: inherit;
	padding: 0.25em 0.5em;
	background-color: black;
	border: 2px solid yellow;
	border-radius: 10px;
	color: white;

}
#enviar:hover{
	cursor: pointer;
	transform: scale(1.3);
}
#enviar{
	font-size: 150%;
	font-family: inherit;
	padding: 0.25em 0.5em;
	background-color: black;
	border: 2px solid yellow;
	border-radius: 10px;
	color: white;
}
#btCred:hover{
	cursor: pointer;
	font-size: 190%;
}
#btCred{
	font-size: 150%;
	font-family: inherit;
	padding: 0.25em 0.5em;
	background-color: black;
	border: 2px solid yellow;
	border-radius: 10px;
	color: white;
	text-decoration: none;
}

#cor{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image:linear-gradient(black,blue);
	background-size: cover;
	background-repeat: no-repeat;
}
#comandosT{
	position: absolute;
	width: 18%;
	height: auto;
	text-align: center;
	border: solid blue 2px;
	right: 2%;
	top: 4%;
	color: black;
	background-color: yellow;
	font-family: 'arcadeclassicregular';
	font-size: 2vw;
}
#comandos{
	position: absolute;
	width: 18%;
	height: 50%;
	text-align: center;
	right: 2%;
	top: 10%;
	background-image: url(comandos.png);
	background-size: cover;

}

.posicao{
	border-bottom: solid blue 2px;
	text-align: center;
	color: black;
	background-color: yellow;
	width: 100%;
	height: 8.42%;
	font-family: 'arcadeclassicregular';
	font-size: 140%;
}
#legenda{
	padding-top: 3%;
	background-color: yellow;
	width: 100%;
	height: 16%;
	text-align: center;
	border-bottom: solid blue 2px;
	font-family: 'arcadeclassicregular';
	font-size: 200%;
}
#tabela{
	width: 18%;
	height: 50%;
	position: absolute;
	top: 8%;
	left: 2%;
	border: solid blue 2px;
	border-bottom:none;
}
.corpo{
	width: 55%;
	height: 625px;
	border: solid black 5px;
	margin: auto;
	border-radius: 20px;
	background-image: url(estrada2.gif);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	font-family: 'arcadeclassicregular';
}
.corpo:hover{
	cursor: none;
}

#menu{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(blue, black);
	position: relative;
	z-index: 1;
	border-radius: 15px;
}
#menu:hover{
	cursor: default;
}
#playBox{
	animation: piscar 1.5s infinite linear;
	height: 20%;
	position: absolute;
	font-size: 250%;
	color: black;
	top: 50%;
	left: 50%;
	border-radius: 20px;
	margin-left: -200px;
	margin-top: -25px;
	font-family: 'arcadeclassicregular';
	color: yellow;

}

.obsta{
	margin-left: -40px;
}

#obsta1{
	width: 130px;
	height: 130px;
	position: absolute;
	left: 20%;
	background-image: bottom;


}
#obsta2{
	width: 130px;
	height: 130px;
	position: absolute;
	left: 50%;
	background-image: bottom;
}
#obsta3{
	width: 130px;
	height: 130px;
	position: absolute;
	left: 80%;
	background-image: bottom;
}

.obj0{
	background: url(Arvore.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.obj1{
	background: url(tronco_rolante.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.obj2{
	background: url(pedra_diferente.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.obj3{
	background: url(pedra_comum.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
#perso{
	background-image: url("correbimbo.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 11%;
	height: 20%;
	position: absolute;
	left: 48%;
	top: 80%;
	transition-duration: 0.5s;
	margin-left: -40px;
}

#tiro{
	position: absolute;
	width: 10%;
	height: 15%;
	left: 50%;
	margin-left:  -48px;
	transition-duration: 0.5s;
	background: url(BoladeFogo.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

#fim{
	z-index: -2;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	position: absolute;
	top: 10%;
	border-radius: 20px;
	text-align: center;
	color: red;
	font-size: 220%;
	font-family: 'arcadeclassicregular';
}
#fim:hover{
	cursor: none;
}

#difTex{
	width: 500px;
	left: 50%;
	margin-left: -250px;
	position: absolute;
	top: 30%;
	border-radius: 20px;
	text-align: center;
	font-size: 60px;
	font-family: 'arcadeclassicregular';
}
#difTex:hover{
	cursor: none;
}

#temp{
	width: 100px;
	left: 50%;
	margin-left: -50px;
	position: absolute;
	top: 3%;
	border-radius: 20px;
	text-align: center;
	font-size: 80px;
	color: black;
	font-family: 'arcadeclassicregular';
}

#score{
	color: yellow;
	position: absolute;
	top: 1%;
	right: 2%;
	font-size: 30px;
}


.anima0{
	animation: dificil 2.2s infinite linear;
}
.anima1{
	animation: dificil 1.6s infinite linear;
}
.anima2{
	animation: dificil 1.3s infinite linear;
}
.pular{
	animation: pulo 0.5s infinite linear;
}
.atirou{
	animation: atirar 1.0s infinite linear;
}
@keyframes dificil {
    0% {
        top: -18%;
        width: 50px;
		height: 50px;
    }
    100% {
        top: 100%;
        width: 150px;
		height: 150px;
		margin-left: -75px;
    }
}
@keyframes pulo {
    0% {
        top: 80%;
    }
    50%{
    	 top: 60%;
    }
    100% {
        top: 80%;
    }
}

@keyframes atirar {
    0% {
        top: 75%;
    }
    100% {
        top: -10%;
    }
}

@keyframes piscar {
    0% {
        color: blue;
        
    }
    10%{
    	color: black;
    }
    30%{
    	color: yellow;
    }
    100% {
        color: yellow;
        
    }
}


/*Créditos*/

#corpoCreditos{
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(blue, black);
	border: solid black 5px;
	margin: auto;
	background-repeat: no-repeat;
	overflow: hidden;
	font-family: 'arcadeclassicregular';

}

.maior{
	font-size: 300%;
	color: yellow;
	font-family: 'arcadeclassicregular';
	text-shadow: 
        -3px -1px 0px black, 
        -3px 1px 0px black,                    
        3px -1px 0px black,                  
        3px 0px 0px black;
    text-align: center;

}
.menor{
	font-size: 150%;
	color: yellow;
	text-shadow: 
        -1px -1px 0px black, 
        -1px 1px 0px black,                    
        1px -1px 0px black,                  
        1px 0px 0px black;
    text-align: center;    

}

#creditos{
	position: absolute;
	left: 50%;
	margin-left: -17%;
	top: 100%;
}

#bimboCred{
	background-image: url(correbimbo.gif);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	width: 150px;
	height: 150px;
	left: 50%;
	margin-left: -75px;
}

@keyframes subirCred {
    0% {
        top: 100%;
    }
    100% {
        top: -150%;
    }
}

#creditos{
	animation: subirCred 15s linear;
}




